/* General */
* {
    box-sizing: border-box
}
body {
    background-color: #FCFDFF;
    font-family: 'PT Sans'
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
/* Navigation */
nav {
    background-color: #4073DE;
    color: #FCFDFF;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #D3DBE6;
    box-shadow: 0 2px 3px #D3DBE6
}
nav img {
    float: left;
    height: 8vh;
    margin: 1vh 2vw;
    filter: grayscale(50%)
}
nav img:hover {
    filter: grayscale(0%)
}
nav h1 {
    float: left;
    font-family: 'Coming Soon';
    font-size: 5vh;
    margin: 2.5vh 0
}
nav ul {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 4vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: calc(30% - 50px)
}
nav ul li {
    display: inline-block
}
nav ul li::after {
    display: inline-block;
    content: '\007C';
    padding: 0 1vw
}
nav ul li.last-item::after {
    content: ''
}
.select-language {
    float: right;
    width: 10vw;
    height: 100%
}
.select-language a {
    display: block;
    font-size: 3vh;
    margin: 3.5vh 2vw
}
/* Header */
header {
    position: relative;
    width: 100%;
    height: 90vh
}